{%  extends "base.html" %}

{% block content %}

        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="{{ url_for("journal_blueprint.add_edit") }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="entry-list single">
                    {% for thing in journals %}
                        <article>
                        <h1> Entry ID:{{ thing.id }}</h1>
                        <h1>{{ thing.title }}</h1>
                        <time>{{ thing.date }}</time>
                        <div class="entry">
                            <h3>Time Spent: </h3>
                            <p>{{ thing.time_spent }}</p>
                        </div>
                        <div class="entry">
                            <h3>What I Learned:</h3>
                            <p>{{ thing.what_i_learned }}</p>
                        </div>
                        <div class="entry">
                            <h3>Resources to Remember:</h3>
                            <ul>
                                <li><a href="">{{ thing.resources_to_remember }}</a></li>

                            </ul>
                        </div>
                    </article>
                    <div class="edit">
                        <p><a href="{{ url_for("journal_blueprint.update(thing.id)") }}">Edit Entry</a></p>
                    </div>
                    {% endfor %}


                </div>
            </div>

        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>

{% endblock %}
