{% extends "base.html" %}

{% block content %}



        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="{{ url_for("journal_blueprint.add") }}"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="{{ url_for("journal_blueprint.add") }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form method = "POST">
                        {{ form.hidden_tag() }}
                        {{ form.title.label }}{{ form.title }}
                        {{ form.date.label }}{{ form.date }}
                        {{ form.time_spent.label }}{{ form.time_spent }}
                        {{ form.what_i_learned.label }}{{ form.what_i_learned }}
                        {{ form.resources_to_remember.label }}{{ form.resources_to_remember }}
                        <input type="submit" value="Publish Entry" class="button">
                        <a href="{{ url_for("core_blueprint.index_page")}}" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>

{% endblock %}