{% extends "base.html" %}
{% block content %}


            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="new.html"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="entry-list">
                    {% for thing in journals %}

                    <article>
                        <h2><a href="{{ url_for("journal_blueprint.details") }}">{{ thing.title }}</a></h2>
                        <time >{{ thing.date }}</time>
                    </article>

                    {% endfor %}

                </div>
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
{% endblock %}