{% extends "base.html" %}

{% block content %}
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="{{ url_for("journal_blueprint.add") }}"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="{{ url_for("journal_blueprint.add") }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="new-entry">
                    <h2>New Entry</h2>
                    <form method="POST">

                        {{ form.hidden_tag() }}
                        {{ form.title.label }}{{ form.title }}

                        <p>{{ form.date.label }} YYYY-MM-DD</p>{{ form.date }}
                        {{ form.time_spent.label }}{{ form.time_spent }}
                        {{ form.what_i_learned.label }}{{ form.what_i_learned }}
                        {{ form.resources_to_remember.label }}{{ form.resources_to_remember }}
                        {{ form.submit }}

                    </form>
                </div>
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
{% endblock %}